// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #ffffff;

$grey-1   : #333;
$blue-1   : #00D7D8;
$purple-1 : #9261DF;
$purple-2 : #6434A2;