<div id="container" class="d-flex justify-content-center align-middle banner-container-home mb-4">
  <div class="main-title d-flex justify-content-center">
    <div class="col-12 row justify-content-center align-middle">

      <div class="col-12 d-flex justify-content-center text-centerd-block" style="align-items: end">
        <h1 class>Find a neighbor. Find a service.</h1>
      </div>

      <div class="col-12 d-flex justify-content-center" style="align-items: end; text-align: center;">
        <h5> Register now and earn $NB 50 to start purchasing services from your neighbors.</h5>
      </div>

      <div class= "">
        <%= simple_form_for :search, url: services_path, method: :get do |f| %>
          <div class="search-form-control">
            <%= text_field_tag :query, params[:query], class: "form-control string required" %>
            <button name="button" type="submit" class="btn btn-secondary btn-sm table-header buttonmove">
            <i class="fas fa-search"></i> Search
            </button>
            <div class="fas fa-caret-down  col-12 justify-content-center align-middle mx-auto mt-5"></div>
              <html class="buttonmove">
              <a class="textabout" href="#down">About us</a>
              </html>
          </div>
        <% end %>
      </div>

    </div>
  </div>
</div>

<div class="d-flex justify-content-center mx-4">

  <div class="d-flex card-category-homepage text-center flex-column justify-content-center align-items-center grow">
   <%= link_to services_path, :controller => "services", :query => "education" %>
    <i class="fa-solid fa-book-open card-icon2"></i>
    <span class="text-middle2 text-center">Education</span>
  </div>

  <div class="d-flex card-category-homepage text-center flex-column justify-content-center align-items-center grow">
    <i class="fa-solid fa-volleyball card-icon2"></i>
    <span class="text-middle2 text-center">Sport</span>
  </div>

  <div class="d-flex card-category-homepage text-center flex-column justify-content-center align-items-center grow">
    <i class="fa-solid fa-hammer card-icon2"></i>
    <span class="text-middle2 text-center">Repairing</span>
  </div>

  <div class="d-flex card-category-homepage text-center flex-column justify-content-center align-items-center grow">
    <i class="fa-solid fa-hand-holding-heart card-icon2"></i>
    <span class="text-middle2 text-center">Social Care</span>
  </div>

  <div class="d-flex card-category-homepage text-center flex-column justify-content-center align-items-center grow">
    <i class="fa-solid fa-heart-pulse card-icon2"></i>
    <span class="text-middle2 text-center">Health Care</span>
  </div>

  <div class="d-flex card-category-homepage text-center flex-column justify-content-center align-items-center grow">
    <i class="fa-solid fa-sack-dollar card-icon2"></i>
    <span class="text-middle2 text-center">Financial</span>
  </div>

  <div class="d-flex card-category-homepage text-center flex-column justify-content-center align-items-center grow">
    <i class="fa-solid fa-book-open card-icon2"></i>
    <span class="text-middle2 text-center">Maintenance</span>
  </div>

  <div class="d-flex card-category-homepage text-center flex-column justify-content-center align-items-center grow">
    <i class="fa-solid fa-camera card-icon2"></i>
    <span class="text-middle2 text-center">Entertainment</span>
  </div>

  <div class="d-flex card-category-homepage text-center flex-column justify-content-center align-items-center grow">
    <i class="fa-solid fa-apple-whole card-icon2"></i>
    <span class="text-middle2 text-center">Food</span>
  </div>

  <div class="d-flex card-category-homepage text-center flex-column justify-content-center align-items-center grow">
    <i class="fa-solid fa-shuffle card-icon2"></i>
    <span class="text-middle2 text-center">Other</span>
  </div>

</div>


<!-- ABOUT US -->

<div id="down" class="container d-flex justify-content-center align-middle mt-5">

    <div>
      <h1 class="about-title display-2 mt-5 d-flex justify-content-center align-middle">About us</h1>

        <p class= "container d-flex justify-content-center align-middle main-title" style="width: 55rem; text-align: center;">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
        It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </p>

    </div>

</div>
