
</div>
    <h1>Pages#home</h1>
    <p>Find me in app/views/pages/home.html.erb</p>

        <div class="credit">Credit : Inspired by <a href="https://dribbble.com/shots/2308755-Search-Transform-Principle-Freebie" target="_blank">this Dribbble</a>.</div>


    <%=  link_to 'Go to Services', services_path, class: 'btn btn-outline-dark btn-block w-40 btn-sm'%>
