

   // cards aboutus


.cardperfil{
    background-color:rgb(255, 255, 255);
    border:none;
    border-radius: 7px;
}

.user-content p{
    margin-top:5px;
    font-size:12px;
}


.ratings i{
    color:blue;
}

.user-image {
    width: 140px;
    margin-left: 130px;
  }


  