html {
    scroll-behavior: smooth;
   }
   
   .textabout {
    text-decoration: none;
    background-color: #7E2BB6;
    color: rgb(255, 255, 255);
    font-size:larger;
    padding-top: 5px;
    padding-right: 15px;
    padding-bottom: 5px;
    padding-left: 15px;
    border-radius: 14px;
   } 
   
   .textabout:hover {
    text-decoration: none;
    background-color: #ffffff;
    color: #7E2BB6;
    font-size:larger;
    padding-top: 5px;
    padding-right: 15px;
    padding-bottom: 5px;
    padding-left: 15px;
    border-radius: 14px;
   } 
   
   #down {
    margin-top: 10%;
    
   } 