html {
    scroll-behavior: smooth;
   }
   
   .textabout {
    text-decoration: none;
    background-color: #7E2BB6;
    color: rgb(255, 255, 255);
    font-size:larger;
    padding-top: 5px;
    padding-right: 15px;
    padding-bottom: 5px;
    padding-left: 15px;
    border-radius: 14px;
   } 
   

   
   .textabout:hover {
    text-decoration: none;
    background-color: #ffffff;
    color: #7E2BB6;
    font-size:larger;
    padding-top: 5px;
    padding-right: 15px;
    padding-bottom: 5px;
    padding-left: 15px;
    border-radius: 14px;
   } 
   
   #down {
    margin-top: 10%;
    
   } 


   // cards aboutus


.cardperfil{
    background-color:rgb(255, 255, 255);
    border:none;
    border-radius: 7px;
}

.user-content p{
    margin-top:5px;
    font-size:12px;
}


.ratings i{
    color:blue;
}

.user-image {
    width: 140px;
    margin-left: 130px;
  }