.banner-container{
    position: relative;
    height: 70vh;
    background-position:right;
    background-size:contain;
    color: #fff;
    background-repeat: no-repeat;
    justify-content: center;


    .banner-title{
        margin: 0;
        font-size: 60px;
        font-weight: 700;
        text-align: center;
        padding-top: 200px;
        color: rgb(255, 255, 255);
      }
}