.banner-container{
    position: relative;
    background: linear-gradient(180deg, #3B1456 20%, #7d62f8 80%, #ffffff 100%);
    border-bottom-left-radius: 180px;
    height: 60vh;
    background-position:center;
    background-size:cover;
    color: #fff;
    background-repeat: no-repeat;
    justify-content: center;


    .banner-title{
        margin: 0;
        font-size: 60px;
        font-weight: 700;
        text-align: center;
        padding-top: 200px;
        color: purple;
      }
}