// CARDS


.card-category {
  background-size: cover;
  background-position: center;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 16px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 50%;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 15px;
  margin: 10px;
}

.card-category2 {
  background-size: cover;
  background-position: center;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 16px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 15px;
  margin: 10px;
}

.card-product {
  overflow: hidden;
  height: 200px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  width: 50px;
  border-radius: 20px;
  display: inline-grid;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
  text-align: center;
}

.card {
  border-radius: 10px 10px 10px 10px;
}

.card-footer:last-child {
  border-radius: 0 0 10px 10px;
}

.card-body {
  flex: 1 1 auto;
  padding: 1rem 1rem;
  height: 100px;
}

.table-header {
  background-color: #7E2BB6;
}