// FOOTER

.footer {
  background: #fef8ff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
  border-top: 1px solid rgba(155, 113, 182, 0.2);
}
.footer-links {
  display: flex;
  align-items: center;
  color: #7e2bb6;
}
.footer-links a {
  color: #7e2bb6;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}

.footer-copyright {
  color: #7e2bb6;
  font-family: 'Anek Latin', sans-serif;
}

.grow {
  transition: all .1s ease-in-out;
  }

  .grow:hover {
  transform: scale(1.6);
  }
