// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "banner";
@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

@import "cards";
@import "cards2";
@import "searchbar";

@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@100;200;300;400;500&display=swap');
@import "landing_page_banner";

.main-title{
  font-family: Anek Latin;

}



//LOGO

.logo {
  text-align: center;
  color: #511B75;
  font-family: "Anek Latin";

}



// FOOTER

.footer {
  background: #fef8ff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
  border-top: 1px solid rgb(227, 227, 227);
}
.footer-links {
  display: flex;
  align-items: center;
  color: #511b76;
}
.footer-links a {
  color: #511b76;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}
