

.cardmove {
    /* ... */

    border-radius: 16px;
    background: #17141d;
    box-shadow: -1rem 0 3rem #000;

    transition: .2s;
}

.cardmove:hover {
    transform: translateY(-1rem);
}

.cardmove:hover~.card {
    transform: translateX(130px);
}


.cardmove:not(:first-child) {
    margin-left: -130px;
}