
.navbar-lewagon {
  justify-content: space-between;
  background: white;
  border-bottom: 1px solid rgb(227, 227, 227);
  color: #7e2bb6;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  margin-right: 30px ;

}

.navbar-lewagon .navbar-brand img {
  width: 140px;
  margin-left: 130px;
}


// hover
