.fa-filter{
  color: #7e2bb6;
}

.fa-map-marker-alt{
  color: #7e2bb6;
}


.grid-title{
  font-family: 'Anek Latin', sans-serif;
}

.fontes {
  font-family: 'Anek Latin', sans-serif;
}

.cor{
  color: #7e2bb6;
}

.responsive-table{
  margin-left: -33px;
  margin-top: 22px ;

}


