

.voutchers{
	background-color: #fff;
	border:none;
	border-radius: 10px;
	width: 95%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	overflow: hidden;
    margin-bottom: 30px;

}
.voutcher-divider{

	display: flex;

}
.voutcher-left{
	width: 650px;
}
.voutcher-name{
	color: grey;
	font-size: 12px;
	font-weight: 500;
}
.voutcher-code{
	color: red;
	font-size: 14px;
	font-weight: bold;
}
.voutcher-right{
	width: 350px;	 
	background-color: #7e2bb6;
	color: #fff;
}

.discount-percent{
	font-size: 18px;
	font-weight: bold;
	position: relative;
	top: 15px;
}
.off{
	font-size: 14px;
	position: relative;
	bottom: 5px;
}