// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";


body {
    background-image: url("bannerweb.png");
    position: relative;
    height: 50vh;
    background-position: top;
    background-size: cover;
    color: #fff;
    background-repeat: no-repeat;
    justify-content: center;
}